body.light-mode{
    background-color: #d9dcd6;
    color:#0d2b3b;
    margin: 0 auto;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*dark mode*/
body.dark-mode {
    background-color: #0d2b3b;
    color: #ffffff;
    margin: 0 auto;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*home page*/

    .himg{
    border: 5px solid #3a7ca5;
    }


    .hskills li{
        color: white;
    }

        /*About Page*/
    .asection{
        color: white;
    }

    .acontacts li a{
        color:white;
    }
/*Work Experience Page*/
    .wsection{
        color: white;
    }

    /*Education Attainment Page*/
    .esection{
        color: white;
    }

    .eimg {
        border: 5px solid #3a7ca5;
    }

    .controls {
        margin-top: 1em;
    }
    button {
        color: #183B4E;
    }

    .quote{
        border: 1px solid white;
        color: white;
    }

    .psection{
        color: white;
    }

    .psection a{
        color: white;
    }

    .pimg{
        border:5px solid #3a7ca5;
    }
}


button.toggle-dark {
  top: 10px;
  right: 10px;
  padding: 10px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3a7ca5;
  color: white;
}

button:hover {
    background-color: #555;
}


.nav{
    margin-top: 150px; 
}

.nav ul{
    list-style: none;
    display: block;
    margin: 20px 50px;;
    padding: 0;
}
.nav ul li{  
    background-color: #3a7ca5;
    border: 2px solid #183B4E;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.nav ul li a{
    text-decoration: none;
    color: #d9dcd6;
}

.nav ul li:hover{
    background-color: #183B4E;
    color: #d9dcd6;
}  
/*home page*/

.homeheader{
    font-family:monospace;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3a7ca5; 
    margin-top: 0;
    color: white;
    padding: 20px 0px;
    text-align: center;
    z-index: 1000; 
    transition: opacity 0.3s ease;
    opacity: 1;
}

.himg{
    margin-top: 15px;
    width: 70%;
    border: 5px solid #16425b;
    border-radius: 20px;
}

.hsection{
    display:block;
    width: 100%;
    text-align: center;
}

.hparagraph{
    text-align: justify;
    background-color: #16425b;
    border-radius: 5px;
    padding: 15px;
    color: white;
    margin: 5px 40px;
}
.hskills{
    display:block;
    padding: 0;
    text-align: center;
    font-family: monospace;
    font-size: 14px;
    list-style-type: none;
}

.hskills li{
    margin-top: 10px;
    color: #183B4E;
}

/*About Page*/
.asection{
    margin: 10px 40px;
    text-align: center;
    color: #183B4E;
}

.acontacts{
    display:block;
    margin: 0 auto;
    padding: 0;
}

.acontacts li{
    display: inline-block;
    list-style-type: none;
    margin: 0px 5px;
}

.acontacts li a{
    margin-top: 10px;
    text-decoration: none;
    color:#183B4E;
}
.email{
    width: fit-content; 
    color: white;
    margin: 0 auto;
    width: 50%;
    background-color: #183B4E; 
    padding: 15px;
    border-radius: 8px;
}

.email .box{
    display: inline-block;
    width: 80%;
}

.email .sendbutton{
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    color: #183B4E;
    border: none;
    padding: 5px 10px;
}

.email .sendbutton:hover{
    background-color: #3a7ca5;
    color: white;
}

/*Work Experience Page*/
.wsection{
    margin: 10px 40px;
    text-align: center;
    color: #183B4E;
}

.wsection p{
    text-align: justify;
}
/*Projects page*/
.psection{
    margin: 10px 30px;
    text-align: center;
    color: #183B4E;
}

.psection p{
    text-align: justify;
}

.psection a{
    display: block;
    color: #183B4E;
}

.pimg{
    width: 400px;
    height: 300px;
    border: 2px solid #183B4E;
    border-radius: 5px;
}


/*Education Attainment Page*/
.esection{
    margin: 10px 40px;
    text-align: center;
    color: #183B4E;
}

.eimg {
    width: 400px;
    height: 300px;
    border: 5px solid #183B4E;
    border-radius: 5px;
}

.cert{
    text-align: center;
    padding: 10px;
}

.controls {
    margin-top: 1em;
}
button {
    padding: 10px 20px;
    color: #183B4E;
    margin: 0 10px;
    cursor: pointer;
}

/*General Styles*/
.pageheader{
    font-family:monospace;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3a7ca5; 
    margin-top: 0;
    color: white;
    padding: 35px 0px;
    text-align: center;
    z-index: 1000; 
    transition: opacity 0.3s ease;
    opacity: 1;
}


header{
    text-align: center;
}

hr{
    width: 90%;
}

.icon{
    display: none;
}

.quote{
    border: 1px solid #183B4E;
    padding: 5px;
    color: #183B4E;

}

footer{
    display: flex;
    background-color: #16425b;
    color: white;
    padding-left: 10px;
}

@media screen and (min-width: 768px) {
    body.light-mode{
        font-size: 16px;
        margin-left: 0;
        margin-top: 170px;
    }

    body.dark-mode {
        background-color: #0d2b3b;
        color: #ffffff;
        font-size: 16px;
        margin-left: 0;
        margin-top: 170px;
    }

    .nav ul{
        display: flex;
        justify-content: center; 
        gap: 10px;                
        margin: 20px 0;
    }

    .nav ul li{
        min-width: 120px;
        max-width: 150px;     
        white-space: normal;    
        word-wrap: break-word;      
        padding: 5px 10px;
        background-color: #3a7ca5;
        color: white;
        border: 1px solid #16425b;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        align-content: center;
    }

    .hsection{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .wsection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 50px;
    }
    .hsection > :last-child {
        grid-column: 1 / -1;
    }
    .esection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 50px;
    }

    .psection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 50px;
    }
}

@media screen and (min-width: 1024px) {
    body.light-mode{
        font-size: 17px;
        margin:0;
        padding: 0;
    }

    body.dark-mode {
        background-color: #0d2b3b;
        color: #ffffff;
        font-size: 17px;
        margin:0;
        padding: 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr;
        grid-template-rows: auto;
        grid-template-areas:
        "nav header header"
        "nav main main"
        "nav footer footer";
        height: 100vh;
    }

    .hheader {
        grid-area: header;
    }

    .hnav {
        grid-area: nav;
        background-color: #3a7ca5;
        height: 100%;
        width: 14.3%; 
        position:fixed;     
    }

    .hmain {
        margin-top: 180px;
        grid-area: main;
    }

    .hfooter {
        grid-area: footer;
    }

    .hsection{
        display:grid;
        grid-template-rows: auto;
    }

    .nav{
        margin-top: 0;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: start;
        height: 100vh;          
        background-color: #3a7ca5; 
        
    }

    .nav ul{
        display: block;
        margin:20px;
    }

    .nav ul li{  
        background-color: #3a7ca5;
        border: 2px solid white;
        text-align: center;
        align-content: center;
        margin-top: 20px;   
        border-radius: 5px;
        height: 2.3rem; 
    }

    .homeheader{
        text-align: left;
        padding-left: 20px;
        background-color: #16425b;
    }

    .himg{
        height: 80%;
        width: 55%;
    }

    .pageheader{
        text-align: left;
        padding-left: 20px;
        background-color: #16425b;
    }

    .icon{
        display: block;
        margin: 0;
        padding: 0;
        width: 100px;
        border-radius: 100px;
        border: 1px solid white;
    }

    .hparagraph{
        display: inline-block;
        text-align: left;
        margin-left: 0;
    }
}