#title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    border-style:double;
    background-color: rgb(29, 44, 2);
    box-shadow: none;
    color:white;
    margin: 0 auto;
}

/*nav bar*/
.menu {
    padding: 0;
    list-style: none;
}

.menu li {
    background-color: white;
    padding: 0.5rem 0;
    
}

.menu li a {
    text-decoration: none;
    height: 20px;
    font-size: 18px;
    font-weight:bold;
    color: black;
    padding: 3px;
    box-shadow: 3px 5px black;
    cursor: pointer;
    transition: height 1s;
    border: 1px solid;

}
.menu li a:hover{
    background-color: black;
    color: white;
    box-shadow: 3px 5px gray;
    height: 50px;  
}

header{
    margin: 20px;
}

/* dropdown menu */
.dropbtn{
    text-decoration: none;
    height: 20px;
    font-size: 18px;
    font-weight:bold;
    color: black;
    background-color: white;
    padding: 3px;
    box-shadow: 3px 5px black;
    cursor: pointer;
    transition: none;
}

.dropdown:hover .dropbtn {
    background-color: black;
    color: white;
    height: 20px;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    background-color: white;
    padding: 12px 16px;
    text-decoration: none;
    border: 1px solid black;
    display: block;
    transition: height 1s;
}   

.dropdown-content a:hover {
    background-color:black;
    color: white;
    height: 30px;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: white;
    height:30px;
}

/*images*/
.bicolexpress{
    margin-right: 20px;
    text-align: center;
    width: 350px;
    border: 3px solid black;
}

.mayon{

    margin-right: 30px;
    width: 350px;
    border: 3px solid black;
}

section{
    margin-left: 20px;
}

h2{
    border: solid 1px black;
    padding: 5px;
    box-shadow: 3px 5px black;
    text-align:left;
}
footer{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
/*youtube video*/
iframe{
        width: 100%;
    }

/*for tablet size*/
@media screen and (min-width: 768px) {
    #title{
    font-size: 3em;
    }

    body{
        font-size: 16px;
        margin-left: 0 auto;
    }
    /*nav bar modifications*/
    .menu li {
    display: inline-block;
    }

    .menu li a {
    display: inline-block;
    }
    /*images modifications*/
    .bicolexpress{
        width: 400px;
    }
      .mayon{
    width: 500px;
    float: left;
    }
    /*main section*/
    .container{
    display: flex;
    gap: 20px;
    }

    h2{
        text-align: center;
    }

    iframe{
        width: 100%;
        height: 40%;
    }
}

@media screen and (min-width: 1024px) {
    /* for desktop size*/
    #title{
    font-size: 3.5em;
    }

    body{
        font-size: 17px;
    }
    /*nav bar modifications*/
    .menu li {
    display: inline-block;
    }

    .menu li a {
    display: inline-block;
    }
    /*images*/
    .bicolexpress{
        width: 600px;
        height: 350px;
    }
    
    .mayon{
    width: 500px;
    float: left;
    }
    /*main section*/
    .container{
    max-width: max-content;
    display: flex;
    gap: 20px;
    justify-content:space-between;
    }

    h2{
        text-align: center;
    }

    iframe{
        width: 100%;
        height: 50%;
    }


    
}


