/* general styles of tags */
    html, body{
        margin-top: 0;
        height: 100%;
        padding:0;
        margin-left: 0;
        margin-right: 0;
        background-color: #F3F3E0;
    }
    h1{
        padding-top: 15px;
        margin-top: 0;
        text-align: center;
        color: #DDA853; 
    }
    h4{
        color : #183B4E;
        margin-left: 20px;  
    }

    /*This is the style for the navigation bar on the left (first header)*/
    .menu{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color:#183B4E;
        color : white;
        border: 1px solid white;
        height: 100%;   
        position: fixed; 
        overflow: auto;     
    }
    li a {
        display: block;
        color: #F3F3E0;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid#F3F3E0;
    }
    li a:hover {
        background-color: #183B4E;
        color: white;
    }

    /* This is the style of the second header*/
    .header2{
        padding-bottom: 10px;
        background-color: #183B4E; 
        color: rgb(255, 255, 255); 
        text-align: center;
        margin-left: 200px;
    }
    .mayon{
        border: 3px solid rgb(218, 218, 218);
        width: 100%;       
        object-fit: cover;
        top: -200px; 
        
    }

    /*body of the webpage*/
    .bicol{
        box-shadow: 5px 5px 15px #183B4E;
    }
    .two-columns {
        margin-left: 200px;
        column-count: 2;
        column-gap: 40px;
    }
    .section1{
        color : #183B4E;
        margin-bottom: 20px;
        margin-left: 210px;
    }
    
    /*This is the style for the paragraphs and lists inside the body of the webpage*/
    .pstyle{
        color : #27548A; 
        margin-left: 20px;  
    }

    

    /*footer style*/
    footer{
        margin-left: 200px;
        background-color: #183B4E;
        color: white;
        margin-bottom: 0;
    }